.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.page {
  flex: 1;
  padding: 16px;
  overflow-y: auto;
  background-color: var(--bg);
}
