#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  height: 60px;
  border-bottom: 1px solid #ddd;
  padding: 0 16px;
  display: flex;
  align-items: center;
}

.content {
  flex: 1;
  display: flex;
}

.sidebar {
  width: 220px;
  border-right: 1px solid #ddd;
  padding: 16px;
}

.page {
  flex: 1;
  padding: 16px;
}
