:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --bg: #f9fafb;
  --surface: #ffffff;
  --border: #e5e7eb;

  --text-primary: #111827;
  --text-secondary: #6b7280;

  --primary: #2563eb;
  --primary-hover: #1d4ed8;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* DARK */
[data-theme="dark"] {
  --bg: #0f172a;
  --surface: #111827;
  --border: #1f2937;

  --text-primary: #f9fafb;
  --text-secondary: #9ca3af;

  --primary: #38bdf8;
  --primary-hover: #0ea5e9;
}

